@font-face {
  font-family: "Coolvetica Rg";
  src: url("/assets/coolvetica rg.otf");
}
@font-face {
	font-family: "Arimo";
	src: url("/assets/Arimo-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Arimo";
	src: url("assets/Arimo-Italic-VariableFont_wght.ttf");
	font-style: "italic"
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
	color:#7d314c;
	background-image:url("/assets/bakgrund2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top; 
	background-size: cover;
	font-family: Arimo;
	font-size: 24px;
	padding: 36px;
}

p {
  color: black;
 }
 
h1 {
	font-family: "Coolvetica Rg";
	font-size:64px;
	text-shadow: 0px 8px 8px rgba(0,0,0,.15)/*, 1px 0 0 rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.15), 0 1px 0 rgba(0,0,0,.15), -1px 0 0 rgba(0,0,0,.15)*/;
	color: #FFFFF0;
}
  
h2 {
  font-size:32px
}

h3 {
  font-size:24px
}

a {

}

#brödtext
{
	width:1080px;
	margin:0 auto;
}
#wrapborder
{ 
    width:900px; 
    margin:0 auto; 
    background-color: #e68b8b;
    border:double;
    padding:20px;
}

#nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #723103;
    border:2px solid #351612;
    border-right:2px solid #351612;
    border-left:2px solid #351612
}

#nav2 li {
    float: left;
    border-right:2px solid #351612
}

#nav2 li a {
    float: left;
    max-width: 900em;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px;
    display:block;
}

#nav2 li a:hover {
    background-color: #e68b8b;
    color:#7d314c;
}

#nav2 a {
  font-family:arial;
  font-size:16px
}

#lowerleft
{
    margin-bottom: 1px;
    margin-left : 1px;
    height: 200px;
    color: #888888;
    position: fixed;
    bottom: 0px;
	left: 0px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
	background-color: #FFFFF0;
	border-radius: 10px;
	box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}

.flex-child ul {
	list-style: none;
}

.flex-child:first-child {
    margin-right: 40%;
} 

.person-container {
    display: inline-block;
    width: 45%;
    margin: 10px;
    text-align: center;
    height: 220px; /* Set a fixed height for the container */
    overflow: hidden; /* Hide any overflow */
}

.person-container img {
    width: 100%; /* Make the image fill the container horizontally */
    height: 100%; /* Make the image fill the container vertically */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.person-container p {
  margin-top: 10px; /* Add some space between the image and text */
}

 #other {
  background-color: #07c73f;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #07c73f, inset 0 0 0 22px #fff;
  margin: 0 auto;
 }

.star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 25px;
  margin-bottom: 85px;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FFF;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 30px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FFF;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}