@font-face {
	font-family: "Coolvetica Rg";
	src: url("/assets/coolvetica rg.otf");
}

@font-face {
	font-family: "Arimo";
	src: url("/assets/Arimo-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Arimo";
	src: url("assets/Arimo-Italic-VariableFont_wght.ttf");
	font-style: "italic"
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

body {
	color: #FFCBBE;
	background-image: url("/assets/bakgrund2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	font-family: Arimo;
	font-size: 24px;
	padding: 36px;
	height: 100vh;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
	color: white;
}

h1 {
	font-family: "Coolvetica Rg";
	font-size: 64px;
	text-shadow: 0px 8px 8px rgba(0, 0, 0, .15)
		/*, 1px 0 0 rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.15), 0 1px 0 rgba(0,0,0,.15), -1px 0 0 rgba(0,0,0,.15)*/
	;
	color: #FFFFF0;
}

h2 {
	font-size: 32px;
	margin-left: 100px;
	color: white;
}

h3 {
	font-size: 24px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

a {
	color: #98C0E5;
}

#brödtext {
	width: 1080px;
	margin: 0 auto;
}

#wrapborder {
	margin: 0 auto;
	background-color: #e68b8b;
	border: double;
	padding: 20px;
}

#nav2 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #723103;
	border: 2px solid #351612;
	border-right: 2px solid #351612;
	border-left: 2px solid #351612
}

#nav2 li {
	float: left;
	border-right: 2px solid #351612
}

#nav2 li a {
	float: left;
	max-width: 900em;
	text-decoration: none;
	color: #FFFFFF;
	padding: 8px;
	display: block;
}

#nav2 li a:hover {
	background-color: #e68b8b;
	color: #7d314c;
}

#nav2 a {
	font-family: arial;
	font-size: 16px
}

#lowerleft {
	margin-bottom: 1px;
	margin-left: 1px;
	height: 200px;
	color: #888888;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.flex-container {
	display: flex;
}

.flex-child {
	flex: 1;
	background-color: #3D3919;
	border-radius: 10px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
	margin-left: 100px;
	margin-right: 100px;
}

.flex-child p {
	margin-left: 15px;
	margin-right: 15px;
}

.flex-child ul li {
	margin-bottom: 8px;
	list-style: none;
}

.jobs-title {
	text-align: left;
	margin: 0.6rem 0 0.3rem 0;
}

.img-container {
	display: flex;
	/*flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
	margin-left: 120px;
	margin-right: 100px;
}

.left-img,
.right-img {
	width: 100%;
	/* Make each div take up full width by default */
}

.left-img img,
.right-img img {
	width: 30%;
	/* Set the width of the images */
	height: auto;
	/* Maintain aspect ratio */
}

.star {
	position: relative;

	display: inline-block;
	width: 0;
	height: 0;

	margin-left: 55px;
	margin-right: 55px;
	margin-top: 25px;
	margin-bottom: 85px;

	border-right: .3em solid transparent;
	border-bottom: .7em solid #FFF;
	border-left: .3em solid transparent;

	font-size: 30px;

	&:before,
	&:after {
		content: '';

		display: block;
		width: 0;
		height: 0;

		position: absolute;
		top: .6em;
		left: -1em;

		border-right: 1em solid transparent;
		border-bottom: .7em solid #FFF;
		border-left: 1em solid transparent;

		transform: rotate(-35deg);
	}

	&:after {
		transform: rotate(35deg);
	}
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 22px;
    padding: 15px;
    height: auto;
    background-attachment: scroll;
  }

  h1 {
    font-size: 38px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 28px;
    margin-left: 20px;
  }

  #brödtext {
    width: auto;
    padding: 0;
  }

  #wrapborder {
    padding: 10px;
  }

  .flex-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    gap: 15px;
  }

  .flex-child {
    margin: 0 15px; /* Side margins so boxes aren't edge-to-edge */
    padding: 20px 25px;
  }

  .flex-child ul {
    padding-left: 5px;
  }

  .flex-child ul li {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.5;
  }

  .img-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .left-img,
  .right-img {
    width: 100%;
  }

  .star {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
